.songContainer{
    background-color: rgb(70, 66, 66);
}
.ContainerHeading{
    background-color: rgb(70, 66, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.more{
    color: red;
}
.title{
    color: white;
}
.squareContainer{
    height: 174px;
    width: 174px;
    background-color: rgb(229, 154, 154);
    border-radius: 20px;
}
.songTitle{
    color: white;
}
