/* css code goes here */
*{
    text-align: center;

}

#big-box{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}
#big-box div{
    background-color: rgb(241, 223, 200);
    border: 2px solid black;
    font-size: 65px;
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    color: red;
}
#big-box div:hover{
     background-color: lightgreen;
}
button{
    margin: 10px;
    padding: 10px;
}