.banner{
    height: 310px;
    width: 810px;
    background-color: pink;
    border-radius: 20px;
    align-items: center;
}
.prevBtn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(105, 101, 101);
    display: block;
    position: absolute;
    top: 50%;
    left: 7%;
    opacity: 80%;
    
}
.nextBtn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(105, 101, 101);
    display: block;
    position: absolute;
    top: 50%;
    left: 93%;
    opacity: 80%;
}
.bannerContainer{
    background-color: rgb(23, 22, 22);
}